{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}

<!-- Example split danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
</div>

<section class="bg-text-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-text">
                    <h3>scoremind content</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-post-area">
    <div class="container">
        <div class="row">
            <div class="blog-post-area-style">
                {% for game in game %}
                <h3>GAMES HERE</h3>
                <div class="col-md-3">
                    <div class="single-post">
                        <h3><a href="{{ book.get_absolute_url }}">{{ game.game_title }}</a></h3>
                        <h4><h3><a href="{{ book.get_absolute_url }}">{{ game.game_attr }}</a></h3></h4>
                        {% comment %}<h4><span>Добавлено: {{ episode.episode_date:"d.m.Y" }}</span></h4>{% endcomment %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
